{% extends 'base.html' %}

{% block content %}
  <h1>{{ cerveza.nombre }}</h1>
  
  {% if cerveza.foto %}
    <img src="{{ cerveza.foto.url }}" alt="{{ cerveza.nombre }}" width="200">
  {% endif %}

  <p><strong>Estilo:</strong> {{ cerveza.estilo.nombre }}</p>
  <p><strong>Alcohol:</strong> {{ cerveza.porcentaje_alcohol }}%</p>
  <p><strong>IBU:</strong> {{ cerveza.ibu }}</p>
  <p>{{ cerveza.descripcion }}</p>
  <a class="btn btn-success mt-5" href="{% url 'servicios' %}">Ordenar Cerveza</a>

  <h3>Barriles disponibles:</h3>
  <ul>
    {% for barril in barriles %}
      <li>
        {{ barril.litros }}L - Precio estimado: ${{ barril.calcular_precio }}
        {% if barril.cerveza.foto %}
          <br><img src="{{ barril.cerveza.foto.url }}" alt="{{ barril.cerveza.nombre }}" width="100">
        {% endif %}
      </li>
    {% empty %}
      <li>No hay barriles disponibles.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'cervezas' %}">Volver al listado</a>
{% endblock %}

