{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
  <div class="alert alert-danger">
    {{ form.non_field_errors }}
  </div>
{% endif %}

<div class="container mt-5">
    <h2 style="color: white;">Realizar Compra</h2>
    <p><strong>Cerveza:</strong> {{ cerveza.nombre }}</p>
    <p><strong>Servicio:</strong> {{ servicio.nombre }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Confirmar Venta</button>
    </form>

    <a href="{% url 'servicios' cerveza.id %}" class="btn btn-secondary mt-3">Cancelar</a>
</div>
{% endblock %}
